.container {
    /* border: 1px black solid; */
    cursor: pointer;
    font-family: museo-sans,Helvetica,Roboto,Arial,sans-serif;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
    height: 3.5rem;
    width: 20rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    flex-direction: column;
    border-bottom: #ff6900 solid 1px;
    background: #e0eaf8;
    color: #0d0f4a;
}
.h1 {
    font-size: 3rem;
    display: flex;
    flex-direction: row;
}
.chatbox{
    align-items: center;
    width: 21rem;
    border-radius: 10px;
    height: auto;
}
.chatIcon{
    color: #003B4C;
    size: 1rem;
}
.chatBoxContainer{
    display: flex;
    align-items: center;
}
.cohortName {
    font-size: 2.9rem;
}