.table {
    table-layout: fixed;
    border-collapse: collapse;
    height: 30vw;
    width: 100%;
    
}
.tr{
    border-top: 1px rgb(232, 232, 232) solid;
}
.td{
    font-size: 1vw;
    padding-right: 2vw;
    cursor: pointer;
}
.default {
    margin-left: 30rem
}
.headtr{
    border-bottom: 2px #F79020  solid;
    position: sticky;
    top: 0;
    background-color: rgb(230, 229, 229);
}
.tableheaders{
    /* display:table-row; */
    padding: auto;
    font-size: 2.5vw;
    text-align: left;
    margin-top: 4px;
    background: #e0eaf8;

    
    
} 
.sortButton{
   float: left;
    margin-top: 10px;
    margin: 2px;
    width: 1.5px;
    padding-right: 20px;
   
    
}
 .blankButton {
    font-size: 2.5vw;
    margin-top: 10px;
    gap: 2px;
}

.title{
    display: flex;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 2px;
    /* padding: 10px; */
    /* padding-left: 10px; */
    /* justify-content: center; */
    text-align: left;
    font-size: 2vw;
}
