.table {
    table-layout: fixed;
    border-collapse: collapse;
    height: 30rem;
    width: 100%;
    
}
.headtr{
    border-bottom: 1px #F79020  solid;
    position: sticky;
    top: 0;
    background-color: rgb(230, 229, 229);
}
.tableheaders{
    font-size: 2rem;
    text-align: center;
  


}
.title{
    font-size: 2rem;
    font-weight: 600;
    text-align: center
}
.tr{
    border-top: 1px rgb(232, 232, 232) solid;
}
.td{
   padding-right: 2rem;
   cursor: pointer;
}
.default {
    margin-left: 30rem
}

.blankButton {
    margin: auto 0; 
    font-size: 1.5rem;
    display:flex;
    gap: 2px;



}

.sortDirection {
    display: flex-start;
    flex-direction: column;
}