.subBar {
  display: flex;
  flex-direction: row;
  padding-left: 6em;
  margin-top: 1em;
  justify-content: space-between;
}

.mainStage {
  display: flex;
  flex: 1;

  flex-direction: column;
  font-family: "Darker Grotesque";
}

.resource-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 535px;
  min-height: 670px;
  position: absolute;
  top: 1117px;
  width: 1249px;
}

.resources {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 24px;
  min-height: 87px;
}

.overlap-group1 {
  align-items: center;
  background-size: 100% 100%;
  display: flex;
  height: 583px;
  justify-content: flex-end;
  min-width: 1247px;
  padding: 0 23px;
}

.entries {
  height: 531px;
  width: 1199px;
}

.chat-section {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  flex-direction: column;
  gap: 17px;
  left: 1383px;
  min-height: 718px;
  padding: 20px;
  position: absolute;
  top: 399px;
  width: 420px;
}

.overlap-group-container {
  align-items: flex-end;
  background-color: var(--alto);
  display: flex;
  flex-direction: column;
  min-height: 607px;
  padding: 10px 11px;
  width: 376px;
}

.overlap-group9 {
  align-items: flex-start;
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  display: flex;
  gap: 70px;
  height: 57px;
  justify-content: flex-end;
  margin-right: 1px;
  min-width: 199px;
  padding: 0 6px;
}

.message {
  letter-spacing: 0;
  line-height: normal;
  min-height: 20px;
  min-width: 49px;
  text-align: center;
}

.overlap-group {
  align-self: flex-end;
  height: 32px;
  margin-bottom: 5px;
  position: relative;
  width: 67px;
}

.place {
  left: 35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
}

.text {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
}

.overlap-group-1 {
  align-items: flex-start;
  align-self: flex-start;
  background-color: var(--gravel);
  border-radius: 10px;
  display: flex;
  gap: 70px;
  height: 57px;
  justify-content: flex-end;
  margin-top: 9px;
  min-width: 199px;
  padding: 0 6px;
}

.overlap-group-2 {
  align-items: flex-start;
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  display: flex;
  gap: 70px;
  height: 57px;
  justify-content: flex-end;
  margin-right: 1px;
  margin-top: 9px;
  min-width: 199px;
  padding: 0 6px;
}

.overlap-group-4 {
  align-items: flex-start;
  background-color: var(--blue-ribbon);
  border-radius: 10px;
  display: flex;
  gap: 70px;
  height: 57px;
  justify-content: flex-end;
  margin-right: 1px;
  margin-top: 5px;
  min-width: 199px;
  padding: 0 6px;
}

.send-container {
  background-color: var(--alto);
  height: 53px;
  width: 376px;
}

.overlap-group11 {
  height: 732px;
  left: 943px;
  position: absolute;
  top: 397px;
  width: 420px;
}

.transition-panel {
  background-color: var(--alto);
  height: 720px;
  left: 0;
  position: absolute;
  top: 0;
  width: 420px;
}

.tasks-container {
  background-color: var(--alto);
  height: 469px;
  left: 22px;
  position: absolute;
  top: 230px;
  width: 376px;
}

.progress-circle-template {
  background-color: #d9d9d9;
  border-radius: 82.5px;
  height: 165px;
  left: 127px;
  position: absolute;
  top: 47px;
  width: 165px;
}

.date {
  left: 127px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 653px;
  width: 166px;
}

.separation-date {
  left: 105px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 627px;
  width: 209px;
}

.add-task {
  height: 28px;
  left: 354px;
  position: absolute;
  top: 242px;
  width: 28px;
}

.overlap-group12 {
  background-size: 100% 100%;
  height: 718px;
  left: 503px;
  position: absolute;
  top: 397px;
  width: 420px;
}

.jordannapoleonlivecom {
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 320px;
}

.email {
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 289px;
}

.beale-afb {
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 393px;
}

.duty-station {
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 359px;
}

.united-states-air-force {
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 462px;
}

.military-branch {
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 427px;
}

.about-me-text {
  color: var(--white);
  font-family: var(--font-family-darker_grotesque);
  font-size: var(--font-size-xl);
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 536px;
  width: 325px;
}

.about-me {
  left: 32px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 496px;
}

.mcsp-16 {
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 244px;
}

.name {
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 212px;
}

.profile-picture-section {
  align-items: flex-end;
  background-color: #03024e;
  border-radius: 82.5px;
  display: flex;
  height: 165px;
  left: 128px;
  min-width: 165px;
  padding: 6px 34px;
  position: absolute;
  top: 43px;
}

.profile-picture {
  height: 145px;
  object-fit: cover;
  width: 95px;
}

.icon-settings {
  height: 28px;
  left: 359px;
  position: absolute;
  top: 29px;
  width: 28px;
}

.welcomeCont {
  display: flex;
  flex-direction: column;
}

.welcome {
  letter-spacing: 0;
  line-height: normal;
  font-size: 3.5em;
  color: white;
}

.logOutTabLink {
  text-decoration: none;
  align-self: flex-end;
  margin-bottom: 1em;
  height: 100%;
}

.logOutTab {
  background-color: rgb(212, 80, 6);
  display: flex;
  flex-direction: row;
  height: 4em;
  width: 12em;
  padding: 7px 12px;
  margin-right: 0;
  align-items: center;
  justify-content: space-between;
}
.logOutTab:hover{
    border: 2px solid rgba(217, 217, 217, .2);
    border-right: none;
}

.logOutTab:hover > * {
  color: #03014d;
  fill: #03014d;
}

.vector {
  fill: white;
}

.logOut {
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.overlap-group14 {
  height: 130px;
  position: relative;
  width: 727px;
}


/* ========== LOWER STAGE ========== */
.lowerStage {
    margin-left: 6em;
    margin-right: 6em;
    display: flex;
    flex-direction: column;
}
.studentContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    gap: 2em;
}
.studentContainer > div {
    background-color: rgba(217, 217, 217, .3);
    flex: 1;
    padding: 1em;
}
.profileSectionInner{
    width: 100%;
    height: 100%;
    background-color: rgba(217, 217, 217, .3);
    display: flex;
    flex-direction: column;
}
.profileSectionInner > div {
    width: 100%;
    flex: 1;
    padding: 0 5%;
    font-size: 1.1em;
}

.profilePictureContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  
}
.profilePicture{
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid rgba(217, 217, 217, .3);
}


.profileSectionInner > :nth-child(2), .profileSectionInner > :nth-child(12) {
    flex: 5;
}


.transitionSection{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.transitionSection > div{
    background-color: rgba(217, 217, 217, .3);
}
.progressSection{
    width: 100%;
    height: 10%;
}
.transitionSectionLower{
    width: 100%;
    height: 90%;
}

.profileSection{}
.transitionSection{}
.chatSection{}

/* ========== Resources Section ========== */
.resourceContainer{
    width: 100%;
}
.resourceTitle{}
.resourceSection{}