.container {
    border: 1px black solid;
    height: 200rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
}
.menucontainer{
    border: 1px black solid;
    margin: 10rem;
    width: 20rem;
 }
 .menutitle{
    border: 1px black solid;
    margin: 2rem;
    width: 10rem;
    font-size: 3rem;

 }
 .cohortsmenu{    
    border: 1px black solid;
    margin: 2rem;
    width: 10rem;
}