.background{
    /* background: #f6efe7; */
}
.container {
    border: 1px black solid;
    height: 200rem;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    font-family: museo-sans,Helvetica,Roboto,Arial,sans-serif;
    color: #003B4C;
    background-color: #FFF;
}
.menucontainer{
    /* border: 1px black solid; */
    height: 3.5rem;
    margin: 10rem;
    width: 20rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 }
 .titlebtn{
    cursor: pointer;
 }
 .menutitle{
    border-bottom: 1px #F79020 solid;

    width: 20rem;
    font-size: 3rem;
 }
 .cohortsmenu{    
    margin: 2rem;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listitem{
    /* border: 1px black solid; */
    width: 10rem;
    height: 2rem;
    margin: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}
.cohortbtn{
    font-size: 2rem;
    cursor: pointer;
}