.container {
  margin-top: 0.5rem;
  width: auto;
  grid-area: ChatModal;
  max-height: 100%;
}
.display {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: white;
  width: 100%;
  max-height: 15rem;
  height: 15rem;
  overflow-y: scroll;
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.display::-webkit-scrollbar {
  display: none;
}
.message {
  margin-right: 1rem 0;
  width: fit-content;
  position: relative;
}
.message .body {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem 0.75rem 1rem 0rem;
  padding: 0.25rem;
  margin-bottom: 0.75rem;
  background-color: lightgray;
  max-width: 25rem;
  hyphens: auto;
  overflow-wrap: break-word;
}
.message.right .body {
  background-color: #bee6f3;
  border-radius: 0.75rem 1rem 0rem 1rem;
}
.message.right {
  align-self: flex-end;
  margin-right: 0;
  text-align: end;
}
.cohortMessage{
  background-color: #06c;
}
.body .content,
.body .time {
  margin: 0;
}
.body .time {
  font-size: 0.75rem;
  margin-top: 0.2rem;
}
.name {
  font-size: 0.9rem;
  width: 100%;
}

.newMsgWrapper {
  height: 15rem;
  width: 100%;
  padding: 0.1rem;
  background-color: white;
  position: relative;
}

.newMsg {
  height: 100%;
  max-width: 10rem;
  overflow-wrap: break-word;
}

.submit {
  position: absolute;
  right: 0;
  top: 5px;
  background: transparent;
  border: none;
  font-size: 1.25rem;
  z-index: 5;
  cursor: pointer;
}
.submit:hover {
  color: #06c;
}

.editContainer {
  position: absolute;
  right: 0.3rem;
  top: -1.7rem;
  height: fit-content;
  width: auto;
  padding: 0 .25rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background: rgba(105, 96, 96, 0.05);
}
.editBtn {
  background-color: transparent;
  border: none;
  margin-right: 0.75rem;
  font-size: 0.7rem;
}
.editBtn:last-child {
  margin-right: 0;
}
.editBtn:active,
.editBtn:hover {
  color: blue;
}
