.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 10%;
}
.adminEditParent {
  background-color: #fff;
  display: grid;
  height: 30rem;
  width: 70%;
  grid-template-columns: 3fr 2fr;
  grid-template-areas: "adminCreate adminList";
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
/* admin create */
.adminCreateParent {
  display: grid;
  grid-area: adminCreate;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "adminCreateHeader"
    "adminCreateForm";
  margin-right: 2.5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 35rem;
  min-height: 30rem;
}
.adminCreateHeader {
  color: black;
  display: grid;
  grid-area: adminCreateHeader;
  font-size: 50%;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  border-bottom: 3px solid #f79020;
}

.adminCreateForm {
  display: grid;
  grid-area: adminCreateForm;
}
.adminCreateFormInputLabel {
  margin-left: 12.5%;
  margin-top: 5%;
  margin-right: 12.5%;
  display: grid;

  color: black;
}

.adminCreateFormInput {
  display: grid;
  color: black;

  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.adminCreateFormSubmit {
  margin-top: 5%;
  justify-content: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.adminCreateFormSubmitBtn {
  height: 30px;
  width: 100%;
  background-color: #f79020;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
}
.adminCreateFormSubmitBtn:hover {
  height: 30px;
  width: 100%;
  background-color: #be701d;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* admin list */
.adminListParent {
  display: grid;
  grid-area: adminList;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "adminListHeader"
    "adminListList";
  margin-left: 2.5%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  min-height: 20rem;
  max-height: 30rem;
}
.adminListHeader {
  display: grid;
  grid-area: adminListHeader;
  font-size: 50%;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;

  border-bottom: 3px solid #f79020;
}
.adminListList {
  display: grid;
  grid-area: adminListList;
  overflow-y: auto;
}
.adminListListTextBox {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  text-align: center;
  grid-template-areas:
    "adminListListText adminListListBtn"
    "adminListListEdit adminListListBtnTwo";
}
.adminListListText {
  grid-area: adminListListText;
}
.adminListListBtn {
  grid-area: adminListListBtn;
  display: flex;
  border: 1px solid transparent;
  border-radius: 0;
  width: 5rem;
  height: 1.5rem;
  color: white;
  background-color: #cd5c5c;
  margin-left: 2.5%;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  line-height: 1.25rem;
}
.adminListListEdit {
  grid-area: adminListListEdit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminListListInputFirstName {
  height: 1.5rem;
  width: 3rem;
  margin-top: 2.5%;
  justify-content: center;
  text-align: center;
  color: black;

  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}
.adminListListBtnTwo {
  display: grid;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  width: 5rem;
  height: 1.5rem;
  grid-area: adminListListBtnTwo;
  color: white;
  background-color: #8fbc8f;
  margin-left: 2.5%;
  justify-content: center;
  margin-top: 10%;
  line-height: 1.25rem;
}
.adminListListBtnTwo:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: #228b22;
}
.adminListListBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: #a52a2a;
}
