.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 15%;
}

.adminEditParent {
  background-color: #fff;
  display: grid;
  height: 30rem;
  width: 70%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "adminList  adminCohort  createCohort createCohortStartDate";
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

/* admin cohort */
.adminCohortParent {
  display: grid;
  grid-area: adminCohort;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "adminCohortHeader"
    "adminCohortSelector"
    "adminCohortGenerate";
  margin-left: 2.5%;
  /* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35); */
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px;
  min-height: 30rem;
  max-height: 40rem;
}

.adminCohortHeader {
  display: flex;
  grid-area: adminCohortHeader;
  font-size: 2vw;
  justify-content: center;
  font-weight: bolder;
  border-bottom: 3px solid #f79020;
}

.adminCohortSelector {
  display: grid;
  grid-area: adminCohortSelector;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "adminCohortDropdown"
    "adminCohortPassword";
  overflow-y: auto;
}

.adminCohortSelector::-webkit-scrollbar {
  display: none;
}

.adminCohortDropdown {
  grid-area: adminCohortDropdown;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "adminCohortDropdownLabel"
    "adminCohortDropdownSelect";
}

.adminCohortDropdownLabel {
  grid-area: adminCohortDropdownLabel;
  display: block;
  text-align: center;
  margin-top: 8%;
  font-size: 1.5rem;
}

.adminCohortDropdownSelect {
  grid-area: adminCohortDropdownSelect;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  color: black;
  background-color: rgba(8, 8, 8, 0);
  border-color: black;
  border-radius: 3px;
  /* border: 1px solid #e1e1e1; */
  border: 1px solid #f79020;
  cursor: pointer;
}

.adminCohortPassword {
  grid-area: adminCohortPassword;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "adminCohortPasswordLabel"
    "adminCohortPasswordInput";
}

.adminCohortPasswordLabel {
  grid-area: adminCohortPasswordLabel;
  display: block;
  text-align: center;
  margin-top: 8%;
  font-size: 1.5rem;
}

.adminCohortPasswordInput {
  grid-area: adminCohortPasswordInput;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1rem;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  /* border: 1px solid #e1e1e1; */
  border: 1px solid #f79020;
  cursor: pointer;
}

.adminCohortGenerate {
  grid-area: adminCohortGenerate;
}

.adminCohortGenerateBtn {
  height: 30px;
  width: 80%;
  color: #f79020;
  background-color: #fff;
  /* background-color: #f79020;
  color: #fff; */
  border: 1px solid #f79020;
  border-radius: 0;
  margin-left: 10%;
  margin-top: 1.25%;
}

.adminCohortGenerateBtn:hover {
  background-color: #f79020;
  color: #fff;
  /* color: #f79020;
  background-color: #fff; */
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* admin create */
.adminCreateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  width: 50rem;
}

.adminCreateOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.adminCreateParent {
  display: grid;
  grid-area: adminCreate;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "adminCreateHeader"
    "adminCreateForm";
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 35rem;
  min-height: 25rem;
  background-color: #fff;
}

.adminCreateHeader {
  color: black;
  display: grid;
  grid-area: adminCreateHeader;
  grid-template-columns: 90% 10%;
  grid-template-areas: "adminCreateHeaderText adminCreateHeaderBtn";
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  border-bottom: 3px solid #f79020;

}

.adminCreateHeaderText {
  grid-area: adminCreateHeaderText;
  margin-left: 10%;
}

.adminCreateHeaderBtn {
  grid-area: adminCreateHeaderBtn;
}

.adminCreateHeaderBtnClose {
  height: 30px;
  width: 100%;
  background-color: #f79020;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
}

.adminCreateHeaderBtnClose:hover {
  height: 30px;
  width: 100%;
  background-color: #be701d;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.adminCreateForm {
  display: grid;
  grid-area: adminCreateForm;
}

.adminCreateFormInputLabel {
  margin-left: 12.5%;
  margin-top: 5%;
  margin-right: 12.5%;
  display: grid;
  color: black;
}

.adminCreateFormInput {
  display: grid;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.adminCreateFormSubmit {
  margin-top: 5%;
  justify-content: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.adminCreateFormSubmitBtn {
  height: 30px;
  width: 100%;
  color: #f79020;
  background-color: #fff;
  /* background-color: #f79020;
  color: #fff; */
  border: 1px solid #f79020;
  border-radius: 0;
}

.adminCreateFormSubmitBtn:hover {
  height: 30px;
  width: 100%;
  background-color: #f79020;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* admin list */
.adminListParent {
  display: grid;
  grid-area: adminList;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "adminListHeader"
    "adminListList"
    "adminCreate";
  margin-right: 2.5%;
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px;
  /* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35); */
  min-height: 30rem;
  max-height: 40rem;
}

.adminListHeader {
  display: flex;
  grid-area: adminListHeader;
  font-size: 2vw;
  justify-content: center;
  font-weight: bolder;
  border-bottom: 3px solid #f79020;
}

.adminListList {
  display: grid;
  grid-area: adminListList;
  overflow-y: auto;
  margin-top: 1em;
}

.adminListList::-webkit-scrollbar {
  display: none;
}

.adminListListTextBox {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  justify-content: left;
  text-align: left;
  grid-template-areas: "adminListListText adminListListBtn adminListListBtnTwo";
}

.adminListListText {
  grid-area: adminListListText;
}

.adminListUpdateOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.adminListUpdateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  width: 50rem;
}

.adminListListBtn {
  grid-area: adminListListBtn;
  display: flex;
  border: 1px solid transparent;
  border-radius: 0;
  width: 5rem;
  height: 1.5rem;
  color: white;
  background-color: #cd5c5c;
  margin-left: 2.5%;
  text-align: center;
  justify-content: center;
  margin-top: 10%;
  line-height: 1.25rem;
}

.adminListListInputFirstName {
  height: 1.5rem;
  width: 3rem;
  margin-top: 2.5%;
  justify-content: center;
  text-align: center;
  color: black;

  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.adminListListBtnTwo {
  display: grid;
  border: 1px solid transparent;
  border-radius: 0;
  text-align: center;
  width: 5rem;
  height: 1.5rem;
  grid-area: adminListListBtnTwo;
  color: white;
  background-color: #8fbc8f;
  margin-left: 2.5%;
  justify-content: center;
  margin-top: 10%;
  line-height: 1.25rem;
}

.adminListListBtnTwo:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: #228b22;
}

.adminListListBtn:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  background-color: #a52a2a;
}

.adminCreate {
  grid-area: adminCreate;
}

.adminCreateBtn {
  height: 30px;
  width: 80%;
  /* background-color: #f79020;
  color: #fff; */
  color: #f79020;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  margin-left: 10%;
  margin-top: 1.25%;
  border: 1px solid #f79020;
}

.adminCreateBtn:hover {
  background-color: #f79020;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.adminUpdateOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.adminUpdateModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  width: 50rem;
}

.adminUpdateParent {
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "adminUpdateHeader"
    "adminUpdateForm";
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-height: 35rem;
  min-height: 25rem;
  background-color: #fff;
}

.adminUpdateHeader {
  color: black;
  display: grid;
  grid-area: adminUpdateHeader;
  grid-template-columns: 90% 10%;
  grid-template-areas: "adminUpdateHeaderText adminUpdateHeaderBtn";
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 10px;
  border-bottom: 3px solid #f79020;
}

.adminUpdateHeaderText {
  grid-area: adminUpdateHeaderText;
  margin-left: 10%;
}

.adminUpdateHeaderBtn {
  grid-area: adminUpdateHeaderBtn;
}

.adminUpdateHeaderBtnClose {
  height: 30px;
  width: 100%;
  background-color: #f79020;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
}

.adminUpdateHeaderBtnClose:hover {
  height: 30px;
  width: 100%;
  background-color: #be701d;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.adminUpdateForm {
  display: grid;
  grid-area: adminUpdateForm;
}

.adminUpdateFormLabel {
  margin-left: 12.5%;
  margin-top: 5%;
  margin-right: 12.5%;
  display: grid;
}

.adminUpdateFormInput {
  display: grid;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.adminUpdateFormSubmit {
  margin-top: 5%;
  justify-content: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.adminUpdateFormSubmitBtn {
  height: 30px;
  width: 100%;
  background-color: #f79020;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
}

.adminUpdateFormSubmitBtn:hover {
  height: 30px;
  width: 100%;
  background-color: #be701d;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.createCohortParent {
  display: grid;
  grid-area: createCohort;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "createCohortHeader"
    "createCohortSelector"
    "createCohortGenerate";
  margin-left: 2.5%;
  /* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35); */
  box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 10px;
  min-height: 30rem;
  max-height: 40rem;
}

.createCohortHeader {
  display: flex;
  grid-area: createCohortHeader;
  font-size: 2vw;
  justify-content: center;
  font-weight: bolder;
  border-bottom: 3px solid #f79020;
}

/* .cohortCreateModal {
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  width: 50rem;
}
.cohortCreateOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
} */

.createCohortSelector {
  display: grid;
  grid-area: createCohortSelector;
  grid-template-areas:
    "createCohortInputLabel"
    "createCohortInput"
    "createCohortStartDate"
    "createCohortPassword";
  overflow-y: auto
}

.createCohortSelector::-webkit-scrollbar {
  display: none;
}

.createCohortInputLabel {
  grid-area: createCohortInputLabel;
  justify-content: center;
  display: block;
  text-align: center;
  margin-top: 8%;
  font-size: 1.5rem;
}

.createCohortInput {
  grid-area: createCohortInput;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1rem;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  /* border: 1px solid #e1e1e1; */
  border: 1px solid #f79020;
  cursor: pointer;
}

.createCohortPassword {
  grid-area: createCohortPassword;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "createCohortPasswordLabel"
    "createCohortPasswordInput";
}

.createCohortPasswordLabel {
  grid-area: createCohortPasswordLabel;
  display: block;
  text-align: center;
  margin-top: 8%;
  font-size: 1.5rem;
}

.createCohortPasswordInput {
  grid-area: createCohortPasswordInput;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1rem;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  /* border: 1px solid #e1e1e1; */
  border: 1px solid #f79020;
  cursor: pointer;
}

.createCohortGenerate {
  grid-area: createCohortGenerate;
}

.createCohortGenerateBtn {
  height: 30px;
  width: 80%;
  color: #f79020;
  background-color: #fff;
  /* background-color: #f79020;
  color: #fff; */
  border: 1px solid #f79020;
  border-radius: 0;
  margin-left: 10%;
  margin-top: 1.25%;
}

.createCohortGenerateBtn:hover {
  background-color: #f79020;
  color: #fff;
  /* color: #f79020;
  background-color: #fff; */
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.createCohortStartDate {
  grid-area: createCohortStartDate;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "createCohortStartDateLabel"
    "createCohortStartDateInput"
    "createCohortEndDateLabel"
    "createCohortEndDateInput";
}

.createCohortStartDateLabel {
  grid-area: createCohortStartDateLabel;
  display: block;
  text-align: center;
  margin-top: 8%;
  font-size: 1.5rem;
}

.createCohortStartDateInput {
  grid-area: createCohortStartDateInput;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1rem;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  /* border: 1px solid #e1e1e1; */
  border: 1px solid #f79020;
  cursor: pointer;
}

.createCohortEndDateLabel {
  grid-area: createCohortEndDateLabel;
  display: block;
  text-align: center;
  margin-top: 8%;
  font-size: 1.5rem;
}

.createCohortEndDateInput {
  grid-area: createCohortEndDateInput;
  height: 50px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1rem;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-color: black;
  border-radius: 3px;
  /* border: 1px solid #e1e1e1; */
  border: 1px solid #f79020;
  cursor: pointer;
}

.archiveButton {
  margin-left: 37%
}

.deleteButton {

  margin-left: 20%;
}

.deleteButtonDiv {
  padding: 2%;
  margin-left: 20%;
}


.endDateDiv {
  padding: 2%;
}

.startDateDiv {
  padding: 2%;
}

.cohortNameDiv {
  padding: 2%;
}