
.footer {
    z-index: 9998;
    /* position: relative; */
    border-top: 10px solid #f79020;
    height: 80px;
    background: #f4f4f4;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1170px;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.link,.lastLink {
    color: #414141;
    font-size: 12px;
    text-decoration: none;
}

.link::after {
    content: "|";
    margin-left: 6px;
    margin-right: 6px;
    color: #414141;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: row;
}