* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background: #e0eaf8;
}

:root {
  --primary-accent: #ef6e47;
  /* --primary-accent: #f79020; */
  --secondary-accent: #f8f8f8;
  /* --font-color: #003b4c; */
  --font-color: #0d0f4a;
  --box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.ql-toolbar.ql-snow {
  border: none !important;
  border: 1px solid #ccc !important;
  border-top: none !important;
  box-sizing: border-box !important;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  padding: 8px !important;
  width: 100%;
  z-index: 1;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;

  height: 10rem;
  max-height: 10rem;
  overflow-wrap: "break-word";
  overflow-y: "scroll";
}

.ql-container.ql-snow > .ql-editor::-webkit-scrollbar {
  display: none;
}

.ql-container.ql-snow > .ql-editor::-webkit-scrollbar-thumb {
  display: none;
}
