/* ------------------------- LOGIN PAGE LAYOUT ------------------------ */

.login_layout_container {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  height: 100vh;
  max-height: 100%;
}
.header {
  min-height: fit-content;
}
.main {
  height: 100%;
  min-height: fit-content;
  overflow: auto;
}
.footer {
  height: 75px;
  min-height: fit-content;
  max-height: 55px;
}

/* --------------------------- LOGIN HEADER --------------------------- */

.header {
  display: flex;
  flex-direction: column;
  font-family: var(--font_regular);
}
.galvanize_banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background: #0d0f4a; */
  background: radial-gradient(
    circle,
    rgba(13, 15, 74, 1) 51%,
    rgba(239, 110, 71, 1) 100%
  );
  height: 100px;
}
.galvanize_logo {
  height: auto;
  margin-top: 5px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #f4f4f4;
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.list_of_resources {
  margin-left: 10px;
  margin-right: auto;
}
.resources_label {
  color: var(--galvanize_dark_blue);
  border-top: solid var(--galvanize_orange) 1px;
  border-bottom: solid var(--galvanize_orange) 1px;
  margin-right: 18px;
  padding: 5px;
}
.resource {
  color: var(--galvanize_dark_blue);
  text-decoration: none;
  padding-left: 3px;
  border-left: solid var(--galvanize_orange) 1px;
  margin-right: 15px;
  padding-left: 15px;
}
.resource_btn {
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
}
.resource_btn:hover {
  color: white;
  background-color: var(--galvanize_orange);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.register_button {
  color: var(--galvanize_dark_blue);
  margin: 10px;
  padding: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 8px;
  background-color: white;
  border-color: #f4f4f4;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ef6e47;
  cursor: pointer;
}
.register_button:hover {
  background-color: #ef6e47;
  color: #f4f4f4;
}

/* -------------------------- LOGIN COMPONENT && BODY ------------------------- */

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #fafafa; */
  background: linear-gradient(
    281deg,
    rgba(255, 255, 255, 1) 56%,
    rgba(205, 205, 205, 1) 100%
  );
}
.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  min-width: fit-content;
  width: 480px;
  min-height: fit-content;
  height: 480px;
  box-shadow: 0px 3px 6px 0px #c7c7c7;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.login_inner_wrapper {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}
.login_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.signin_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292b2c;
  font-family: var(--font_light);
  height: 70px;
}
.login_inputs {
  color: #464a4c;
  border-radius: 4px;
  width: 400px;
  height: 40px;
  margin-bottom: 17px;
  padding: 5px;
  border: 1px solid #c5c5c5;
  text-indent: 10px;
}
.login_inputs:focus {
  outline: none;
  border-color: var(--galvanize_dark_blue);
}
.loginForm {
  display: flex;
  flex-direction: column;
  color: var(--galvanize_dark_blue);
}
.remember_me_container {
  display: flex;
  justify-content: right;
  margin-top: -10px;
  margin-bottom: 20px;
}
.remember_me_box {
  accent-color: var(--galvanize_orange);
}
.remember_me_label {
  color: #292b2c;
  margin-left: 10px;
}
.loginBtn {
  padding: 8px;
  color: var(--galvanize_dark_blue);
  background-color: var(--accent-white);
  border: solid var(--accent-white) 1px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  transition-duration: 350ms;
}
.loginBtn:hover {
  transition-duration: 350ms;
  background: var(--galvanize_dark_blue);
  color: #f4f4f4;
}
.forgot_pass_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot_pass {
  width: fit-content;
  color: var(--galvanize_dark_blue);
  text-align: center;
  margin-top: 20px;
}
.forgot_pass:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #292b2c;
  color: var(--galvanize_orange);
}

/* --------------------------- LOGIN FOOTER --------------------------- */

.footer {
  border-top: 1px solid #e6e6e6;
  background: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  margin-left: 10px;
}
.footer_links {
  margin-right: 10px;
}
.link,
.lastLink {
  color: var(--galvanize_dark_blue);
  font-size: 12px;
  text-decoration: none;
}
.link:hover,
.lastLink:hover {
  color: var(--galvanize_orange);
  text-decoration: underline;
}
.link::after {
  content: "|";
  margin-left: 6px;
  margin-right: 6px;
  color: #414141;
}

/* -------------------------- REGISTER MODAL -------------------------- */

.reg_modal_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 550px;
}
.reg_modal_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}
.reg_modal_h1 {
  color: var(--galvanize_dark_blue);
  font-family: var(--font_light);
  display: flex;
  /* grid-area: registerModalCreateHeader; */
  justify-self: center;
  font-weight: 200;
  font-size: 40px;
  padding-top: 6%;
}
.reg_code_input {
  display: grid;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 8px;
  border: 1px solid var(--galvanize_orange);
  margin-bottom: 2px;
  height: 50px;
  text-align: center;
}
.reg_code_input:focus {
  outline: none;
  border-color: var(--galvanize_orange);
  border-width: 2px;
}
.reg_code_input::placeholder {
  text-align: center;
}
.reg_inputs {
  height: 40px;
  width: 300px;
  text-indent: 10px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
}
.reg_inputs:focus {
  outline: none;
  border-color: var(--galvanize_orange);
  border-width: 2px;
}
.reg_modal_btns_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.reg_modal_submit_btn {
  height: 40px;
  width: 100px;
  color: #f79020;
  background-color: white;
  border: 1px solid #f79020;
  border-radius: 8px;
}
.reg_modal_submit_btn:hover {
  color: #fff;
  background-color: #f79020;
}
.reg_modal_close_btn {
  height: 40px;
  width: 100px;
  color: white;
  background-color: rgba(128, 128, 128, 0.568);
  border: 1px solid transparent;
  border-radius: 8px;
}
.reg_modal_close_btn:hover {
  background-color: rgb(123, 122, 122);
  color: #fff;
}
.reg_error_alert {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 0px;
}
/* ------------------------- REGISTRATION ERROR ---------------------------- */

.notfound {
  margin-top: 8%;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
}
.notfound a {
  color: #4979ff;
  text-decoration: underline;
}

/* ------------------------------------------------------------------------- */

/* .list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.title {
  font-weight: 500;
  color: #cccccc68;
}
.page {
  font-size: 16px;
  position: relative;
  cursor: default;
  height: 42px;
  width: 100px;
  display: flex;
  padding-top: 25px;
}
.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1170px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}
.errorMsg {
  color: red;
  margin-left: 20px;
} */
