/* ------------------------- LOGIN PAGE LAYOUT ------------------------ */
.login_layout_container {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  height: 100vh;
  max-height: 1000px;
}
.header {
  min-height: fit-content;
}
.main {
  height: 100%;
  min-height: fit-content;
  overflow: auto;
}
.footer {
  height: 75px;
  min-height: fit-content;
  max-height: 55px;
}

/* --------------------------- LOGIN HEADER --------------------------- */
.header {
  display: flex;
  flex-direction: column;
  font-family: museo-sans, Helvetica, Roboto, Arial, sans-serif;
}
.galvanize_banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #0d0f4a;
  height: 100px;
}
.galvanize_logo {
  height: auto;
  margin-top: 5px;
  cursor: pointer;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #f4f4f4;
  /* background-color: #fafafa; */
  height: 60px;
  border-bottom: 1px solid #e6e6e6;
}
.list_of_resources {
  margin-left: 10px;
  margin-right: auto;
}
.resources_label {
  color: var(--font-color);
  border-top: solid var(--primary-accent) 1px;
  border-bottom: solid var(--primary-accent) 1px;
  margin-right: 18px;
  padding: 5px;
}
.resource {
  color: var(--font-color);
  text-decoration: none;
  padding-left: 3px;
  border-left: solid var(--primary-accent) 1px;
  margin-right: 15px;
  padding-left: 15px;
}
.resource_btn {
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
}
.resource_btn:hover {
  color: white;
  background-color: var(--primary-accent);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
}
.register_button {
  color: var(--font-color);
  margin: 10px;
  padding: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 8px;
  background-color: white;
  border-color: #f4f4f4;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid #ef6e47;
  cursor: pointer;
}
.register_button:hover {
  background-color: #ef6e47;
  color: #f4f4f4;
}

/* -------------------------- LOGIN COMPONENT && BODY ------------------------- */

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #f4f4f4; */
  background-color: #fafafa;
}
.login_container {
  /* background-color: #ffffff; */
  margin: auto;
  border-radius: 8px;
  padding: 1rem;
  /* min-width: fit-content;
  width: 500px;
  min-height: fit-content;
  height: 535px; */
  /* box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35); */
  /* box-shadow: 1px 3px 6px 1px rgba(0, 0, 0, 0.35); */
  box-shadow: 0px 3px 6px 0px #c7c7c7;
  padding-bottom: 5%;
  /* border-radius: 1px; */
  background-color: #ffffff;
}

.loginTitle {
  text-align: center;
  color: var(--font-color);
  padding: 5px;
  border-top: solid var(--primary-accent) 2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: solid var(--primary-accent) 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.login_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
  margin-top: 2em;
}

/* --------------------------- LOGIN FOOTER --------------------------- */

.footer {
  /* border-top: 10px solid #f79020; */
  border-top: 1px solid #e6e6e6;
  background: #f4f4f4;
  /* background-color: #fafafa; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copyright {
  margin-left: 10px;
}
.footer_links {
  margin-right: 10px;
}
.link,
.lastLink {
  color: var(--font-color);
  /* color: #00747f; */
  font-size: 12px;
  text-decoration: none;
}
.link:hover,
.lastLink:hover {
  color: var(--primary-accent);
  /* color: #414141; */
  text-decoration: underline;
}
.link::after {
  content: "|";
  margin-left: 6px;
  margin-right: 6px;
  color: #414141;
}

/* -------------------------- REGISTER MODAL -------------------------- */

.registerModalCreateOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.registerModalCreateModal {
  position: fixed;
  top: 49.5%;
  left: 37%;
  transform: translate(-50%, -50%);
  padding: 50px;
  z-index: 1000;
  width: 50rem;
}
.registerModalCreateParent {
  display: grid;
  grid-area: registerModalCreate;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "registerModalCreateHeader"
    "registerModalCreateForm";
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 100%;
  width: 50%;
  margin: 47%;
  min-height: 20rem;
  min-width: 10rem;
  background-color: #fff;
  border-radius: 5px;
  /* border: solid var(--primary-accent) 5px */
}
.registerModalCreateHeader {
  color: black;
  display: flex;
  grid-area: registerModalCreateHeader;
  justify-self: center;
  font-weight: 500;
  font-size: 14px;
  padding-top: 6%;
}
.modalHeader {
  color: black;
  display: flex;
  grid-area: registerModalCreateHeader;
  justify-self: center;
  font-weight: 200;
  font-size: 40px;
  padding-top: 6%;
}
.registerModalCreateForm {
  display: grid;
  grid-area: registerModalCreateForm;
}
.registerModalCreateFormInputLabel {
  margin-left: 12.5%;
  margin-top: 5%;
  margin-right: 12.5%;
  display: grid;
  color: black;
}
.registerModalCreateFormInput {
  display: grid;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: 1px solid #f79020;
  margin-bottom: 2px;
  height: 3em;
  margin-top: 3em;
}
.registerModalCreateFormInput::placeholder {
  text-align: center;
}

.registerModalCreateFormSubmit {
  margin-top: 3.5em;
  justify-content: center;
  margin-left: 12.5%;
  margin-right: 12.5%;
}
.registerModalCreateFormSubmitBtn {
  height: 30px;
  width: 100%;
  /* background-color: #f79020; */
  background-color: white;
  color: rgb(2, 2, 2);
  /* border: 1px solid transparent; */
  border-radius: 0;
  border: 1px solid #f79020;
  color: #f79020;
}
.registerModalCreateFormSubmitBtn:hover {
  height: 30px;
  width: 100%;
  background-color: #f79020;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 0;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}
.registerModalCloseBtn {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.568);
  color: white;
  border: 1px solid transparent;
  border-radius: 0;
}
.registerModalCloseBtn:hover {
  height: 30px;
  width: 100%;
  background-color: rgb(147, 145, 145);
  color: #fff;
  border: 1px solid transparent;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* --------------------------------  ---------------------------------- */

.list {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.notfound {
  margin-top: 8%;
  margin-bottom: 5%;
  text-align: center;
  position: relative;
}

.notfound a {
  color: #4979ff;
  text-decoration: underline;
}

.input {
  border: none;
  box-shadow: var(--box-shadow);
  margin-bottom: 1rem;
  margin-left: 1rem;
  padding: 5px;
  border: solid var(--secondary-accent) 2px;
}
.rememberMe {
  margin-bottom: 1rem;
}
.loginBtn {
  padding: 8px;
  color: var(--font-color);
  background-color: var(--secondary-accent);
  border: solid var(--secondary-accent) 1px;
  border-radius: 20px;
  /* box-shadow: 1px 3px 5px var(--primary-accent); */
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
}

.loginBtn:hover {
  background-color: #f78f20;
  color: #f4f4f4;
}

.title {
  font-weight: 500;
  color: #cccccc68;
}

.page {
  font-size: 16px;
  /* z-index: 1; */
  position: relative;
  cursor: default;
  height: 42px;
  width: 100px;
  display: flex;
  padding-top: 25px;
}

.cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1170px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.errorMsg {
  color: red;
  margin-left: 20px;
}
