/*
-------Color Pallet:------
Orange: #F79020
Grey: #d9d2d2
Offwhite: #f6efe7
letter coloring(possibly): #003B4C
font-family: museo-sans,Helvetica,Roboto,Arial,sans-serif; 

*/
.modalContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6efe7;

}


.loginContainer {
    width: fit-content;
    height: fit-content;
    padding: 1.5rem;
    display: grid;
    justify-items: center;
    gap: 1rem;
    border-bottom:solid #F79020 2px;
    border-top:solid #F79020 2px;
    border-radius: 5px;
    backdrop-filter: blur(10px);
    box-shadow:  2px 2px 10px #003B4C; 
    background: white;
    
    
}


.loginContainer h1 {
    font-family: sans-serif;
    color: #003B4C;
    padding: 10px;
    border-bottom:solid #F79020 2px;
    border-top:solid #F79020 2px;
    border-radius: 8px;
    
    
}

.loginForm {
    
    display: grid;
    gap: .5rem;
    align-content: center;
    justify-content: center;
}
.loginInputBox,
.loginBtn {
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 9999px;
    border: none;
    box-shadow: 5px 5px 5px #111;
    margin-top: .5rem;
    background: #f6efe7;
}

.loginInputBox:focus {
    outline: none;
}

.errorMsg {
    color: red;
    justify-self: center;
    display: none;
}

.show {
    display: inline-block;
}

.loginBtn {
    font-size: 1rem;
    padding: .25rem;
    opacity: .7;
    color: #003B4C;
    background-color: white;
    height: 3rem;
    border-radius: 15px;

}

.loginBtn:hover {
    font-size: 1.25rem;
    opacity: 1;
    cursor: pointer;
}


.createAccBtn {
    background-color: rgb(195, 123, 6);
}
/*Create modal styling==================================================================================*/