.modalContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.loginContainer{
 
    margin: auto;
    padding: 1rem;
    width: fit-content;
}

.loginTitle{
    text-align: center;
}

.loginForm{
    display: flex;
    flex-direction: column;
}
.input{
    border: none;
    box-shadow:  var(--box-shadow);
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.rememberMe{
    margin-bottom: 1rem;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;
    width: 141px;
}
