
/* ================== TEST ==================== */
.testgrid {
   display: grid;
   gap: 10px;
   height: 100%;
   background-color: darkgray;
}

.studentView {
   grid-template-areas: "content content";
   padding: 0 2% 0 2%;
}

.sideNavWrapper {
   grid-area: sideNav;
   height: 100%;
}

.StudentDashWrapper {
   grid-area: content;
   height: 100%;
}

/* =========== Student Container ============== */
.container{
   display: block;
   margin: auto;
   width: 100%;
   height: fit-content;
}

.StudentDashWrapper {
   border-color: #f79020;
   padding: .5rem;
   display: grid;
   grid-template-areas:
      "StuHeader StuHeader StuHeader"
      "StuInfo StuCheck StuTasks"
      "StuInfo StuCheck StuTasks"
      "ChatModal ChatModal ChatModal";
   grid-template-columns: 1fr 1fr 1fr;
   border-radius: 10px;
   font-family: var(--ff-primary);
   /* max-height: 85vh; */
   width: 100%;
   /* overflow: auto !important; */
}

/* =============== Student Header ============= */
.SDashHeader {
   grid-area: StuHeader;
   display: flex;
   flex-direction: row;
}
.SDashheaderCol {
   display: flex;
   flex-direction: column;
}

#StuHeaderName {
   margin: 1px;
}

#StuHeaderBranch {
   margin: 1px;
}

.StuHeaderETStag {
   color: white;
   border-radius: 10px;
   font-weight: bold;
   width: fit-content;
   padding: 5px;
   position: relative;
   left: 77%;
   margin: 1px;
}

#ETS-120 {
   background-color: var(--clr-ets-blue);
}

#ETS-90 {
   background-color: var(--clr-ets-yellow);
}

#ETS-60 {
   background-color: var(--clr-ets-orange);
}

#ETS-30 {
   background-color: var(--clr-ets-red);
}

#ETS-d {
   background-color: var(--clr-ets-green);
}

/* ============= Student Info =============== */
.stuInfoETS {
   margin-top: 5px;
}

.studentInfoCheckbox {
   margin-top: 6px;
}

.editStudentBtnSpan {
   /* position: relative; */
   float: right;
   display: grid;
   justify-items: center;
}

.studentview {
   margin-right: 20vw;
}

.editStudentInfoBtn:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.editStudentInfoBtn:hover+.editStudentToolTip {
   visibility: visible !important;
}

.editStudentToolTip {
   visibility: hidden;
}

.SDashInfocard {
   grid-area: StuInfo;
   max-height: 39.5rem;
   min-height: 39.5rem;
}

.infoCardcontainer {
   width: 100%;
   background-color: #fff;
   border-radius: 1px;
   max-height: 39.5rem;
   min-height: 39.5rem;
   overflow-y: scroll;
   margin-top: 5px;
}

.myInterestsDiv {
   margin-bottom: 10px;
   display: flex;
   align-items: center;
   margin-top: 10px;
}

.title {
margin-left: auto;
}

.answer {
   margin-left: 5.5px;
}

/* ============= Student Checklist ========== */

.SDashChecklist {
   grid-area: StuCheck;
   display: flex;
   flex-direction: column;
   border-radius: 1px;
   flex-wrap: nowrap;
   align-items: center;
   margin-left: 12px;
   background-color: #fff;
   margin-top: 5px;
   max-height: 39.5rem;
   min-height: 39.5rem;
}

.checklistForm {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.editStudentChecklist {
   display: flex;
   flex-direction: column;
}
.checkboxLabel {
   padding-top: 7px;
}
.checklistButtonDiv{
display: flex;

}
.checklistButtons{
   margin-top: 20px;
}
/* ============= Student Tasks ============== */

.SDashTasks {
   grid-area: StuTasks;
   display: flex;
   flex-direction: column;
   border-radius: 1px;
   flex-wrap: nowrap;
   align-items: center;
   margin-left: 12px;
   background-color: #fff;
   margin-top: 5px;
   overflow-y: scroll;
   max-height: 39.5rem;
   min-height: 39.5rem;
}

#StuTasksHeader {
   margin: 10px;
   color: var(--clr-bgprimary-dark);
}

.StuTasksCreateBtn {
   font-size: 25px;
   background: none;
   border: none;
   margin-bottom: 8px;
}

.StuTasksCreateBtn:hover {
   cursor: pointer;
   transform: scale(1.05);
}

.StuTasksCard {
   display: grid;
   grid-template-areas: ". title edtBtn";
   grid-template-columns: 1fr 90% 1fr;
   align-items: center;
   border: solid var(--clr-nuetral-brown);
   border-top: 3px solid #f79020;
   border-radius: 5px;
   margin-bottom: 8px;
   width: 85%;
   text-align: center;
   color: var(--clr-accent-white);
   background-color: var(--clr-bgsecondary-contrast);
   box-shadow: 0px 4px 8px 0px #9b9b9b;
   transition: box-shadow ease 0.2s, transform ease 0.1s;
   padding: 5px;
}

.StuTasksCard:hover {
   cursor: pointer;
   box-shadow: 0px 6px 16px 0px #414141;
   background-blend-mode: lighten;
}

.StuTasksCard:active {
   box-shadow: none;
   transform: scale(0.98);
}

.StuTasksTitle {
   grid-area: title;
   width: 100%;
   text-align: center;
}

.StuTasksButtons {
   grid-area: edtBtn;
   color: var(--clr-accent-white);
   font-size: 18px;
   background: none;
   border-radius: 5px;
   border: none;
   padding: 2px 5px;
}

.StuTasksButtons:hover {
   cursor: pointer;
}

/* ============= Student Modal =============== */

.SPTaskModal {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
      "TaskHeader"
      "TaskStatus"
      "TaskStatus"
      "TaskDesc"
      "TaskRemarks"
      "AddRemark";
   gap: 12px;
}

#ModalHeader {
   border-radius: 5px;
   padding: 10px;
   grid-area: TaskHeader;
   text-align: center;
   background-color: var(--clr-accent-white);
   font-family: var(--ff-primary);
}

.ModalTaskStatus {
   border-radius: 5px;
   padding: 10px;
   grid-area: TaskStatus;
   background-color: var(--clr-accent-white);
}

.ModalTaskDesc {
   border-radius: 5px;
   padding: 10px;
   grid-area: TaskDesc;
   background-color: var(--clr-accent-white);
}

.ModalEditTask {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.ModalCreateTask {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.ModalTaskFormFlex {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.ModalTaskInputs {
   display: flex;
   flex-direction: column;
   border-radius: 5px;
   padding: 10px;
   background-color: var(--clr-accent-white);
   font-family: var(--ff-primary);
}

.ModalTaskInputs>input {
   font-family: var(--ff-primary);
   background-color: rgb(232, 232, 232);
   border-radius: 5px;
   border: none;
   font-size: 20px;
   padding: 2px;
}

.ModalTaskInputs>select {
   font-family: var(--ff-primary);
   background-color: rgb(232, 232, 232);
   border-radius: 5px;
   border: none;
   font-size: 20px;
   padding: 2px;
}

.ModalTaskBtns {
   background-color: rgba(255, 255, 255, 0.231);
   padding: 5px;
   width: 20%;
   border-radius: 10px;
   border: none;
   place-self: center;
}
.ModalTaskBtns:hover {
   background-color: #fff;
}

.DependentCard {
   display: flex;
   justify-content: space-between;
   width: 40%;
}

#DependentAge {
   font-weight: bold;
}

.label {
   color: #de7505f2;
   font-weight: bold;
   width: 35%;
   margin-bottom: 1%;
   float: left;
 }

 .addStudentModal {
   display: flex;
   flex-direction: column;
   margin-left: 2%;
 }

 .addStudentForm {
   display: flex;
   flex-direction: column;
 }

 .editStudentFormInputs {
   display: flex;
   flex-direction: column;
 }

 .editStudentBtn {
   margin-right: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
 }
