.container {
    font-family: museo-sans,Helvetica,Roboto,Arial,sans-serif;
    color: #003B4C;
    background: #f6efe7;
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
    background:#e0eaf8;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}

.prev {
    background-color: #ff6900;
    color: white;
    width: 80px;
}

.prev:hover {
    background-color: #0d0f4a83;
}

.cohort {
    font-size: 40px;
    margin-top: 5px;
}

.searchdiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 500;
}

.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 350px;
    
}

.input {
    height: 24px;
    padding-left: 5px;
    margin-right: 5px;
    
}

.next {
    background-color: #ff6900;
    color: white;
    width: 80px;
}

.next:hover {
    background-color:  #0d0f4a83;;
}

.bottom {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 1px solid black;
    width: 95%;
    margin: auto;
    margin-top: 20px;
}

.spacer {
    width: 350px;
}

.btnSpace {
    width: 80px;
}