.header {
    background: #0d0f4a;
    width: 100%;
    font-family: museo-sans,Helvetica,Roboto,Arial,sans-serif;
    position: static;
    
}

.topNav {
    display: flex;
    justify-content: flex-end;
    background: #ff6900;
    height: 33.8px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.topList {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-self: center;
    margin: 0%;
}

.listItem {
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 1.3;
    font-weight: 300;
    cursor: pointer;
    color:#0d0f4a;
}

.listItem:hover {
    text-decoration: underline !important;
    cursor: pointer;
    color: #ffffff;
}

.bottomNav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 72px;
    
}

.picCont {
    height: 100%;
    width: 300px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 24px;
    margin-right: 24px;
    width: 141px;
}

.title {
    font-weight: 500;
    color: #ffffff;
    margin-top: .5%;
}

.pages {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    justify-content: space-between;
}

.page {
    font-size: 16px;
    cursor: default;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100px;
    color: #ffffff;
    cursor: pointer;
    
}

.link {
    text-decoration: none;
    cursor: pointer;
}

.page:hover,
.active {
    background-color: #ff6900;
    color: white;
    text-decoration: underline white;
}
.loginTitle{
    padding-left: -10px;
}

